.avatar {
  width: 30px;
  margin-right: 10px;
}

.container {
  /* align-items: center;
  justify-content: center; */
  /* text-align: center;
  vertical-align: middle; */
  display: flex;
  align-items: center;
}

.text {
  font-weight: 700;
  margin-right: 10px;
  color: darkblue;
  font-size: 18px;
}
